<!-- frontend/webpages/logout.html -->

{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
<h2>Logout</h2>
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Out</title>
    <link rel="stylesheet" href="uploadlisting_logout.css">
</head>
<body>

<div class="LogOut">
    <div class="Rectangle1"></div>

    <div class="GoodbyeMessage">
        <span class="GoodbyeTitle">Goodbye for now!</span><br/>
        <span class="GoodbyeText">You’ve successfully logged out. Sign back in to get access to all of your data, listings, and shopping cart.</span>
    </div>

    <img class="WavingHand" src="static/wave.jpg" alt="Waving Hand">
    <!--<img class="WavingHand" src="https://placehold.co/86x86" alt="Waving Hand">-->

    <div class="SignInButton">
        <div class="SignBackIn">Sign back in</div>
    </div>

    <img class="Image27" src="static/refurbished_logo.jpg" alt="Illustration">
    <!--<img class="Image27" src="https://placehold.co/339x220" alt="Illustration">-->

    <div class="NavigationBar">
        <div class="NavItem">Home</div>
        <div class="NavItem">About</div>
        <div class="NavItem">Features</div>
        <div class="NavItem">Mission</div>
        <div class="NavItem">Contact</div>
    </div>
</div>

</body>
</html>
