<!-- frontend/webpages/recyclerhome.html -->

{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}

<body>
  <div class="HomeBuyingPage">
    <div class="Rectangle1"></div>
    <div class="HeyRyc1">Hey, </div>
    <div class="Profile">{{profile}}</div>
    <img class="Image1" src="https://placehold.co/404x245" />
    <img class="Image2" src="https://placehold.co/48x29" />
    
    <div class="Frame2">
      <div class="SortBy">Sort by:</div>
      <div class="Pricing">Pricing</div>
      <div class="Devices">Devices</div>
      <img class="Image12" src="https://placehold.co/24x21" />
    </div>
    
    <div class="Frame3">
      <div class="SortBy">Sort by:</div>
      <div class="Pricing">Pricing</div>
      <div class="Devices">Devices</div>
      <img class="Image12" src="https://placehold.co/24x21" />
      <img class="Image13" src="https://placehold.co/24x21" />
    </div>
    
    <img class="Image" src="https://placehold.co/141x169" />
    
    <div class="Rectangle6"></div>
    <div class="Rectangle8"></div>
    <div class="Rectangle7"></div>
    
    <div class="DeviceIpadAirPrice150SellerRef1">
      Device: iPad Air<br />Price: $150<br />Seller: Ref. 1
    </div>
    <div class="DeviceIphone12Price350SellerRef2">
      Device: iPhone 12<br />Price: $350<br />Seller: Ref. 2
    </div>
    <div class="DeviceMicrosoftSurfaceLaptopPrice500SellerRef3">
      Device: Microsoft <br />Surface Laptop<br />Price: $500<br />Seller: Ref. 3
    </div>
    
    <img class="Image" src="https://placehold.co/141x169" />
    <img class="Image" src="https://placehold.co/141x169" />
    <img class="Image3" src="https://placehold.co/33x34" />
    <img class="Image" src="https://placehold.co/168x100" />
  </div>
</body>

{% endblock %}